{% extends "web/base.html" %}
{% load static %}
{% block content %}
<style>
    .first-screen {
        display: none !important;
    }
    .main-block__top {
        display: none !important;
    }
    .load-more {
        display: none !important;
    }
</style>
    <link rel="stylesheet" type="text/css" href="{% static 'web/assets/css/main.css' %}">       


    <div class="page-container">

        <!-- BEGIN HEADER -->

        <!-- HEADER END --> 
        
        <!-- MOBILE NAVIGATION -->

        <!-- MOBILE NAVIGATION END -->        

        <!-- BEGIN MAIN -->
        <main class="main">              

            <!-- BEGIN INNER TOP -->
            <div class="inner-top">
                <div class="inner-top__main wrapper">
                    <div class="inner-top__cols">
                        <div class="inner-top__left">
                            <h1 class="inner-top__title">My profile</h1>
                            <div class="breadcrumbs">
                                <ul class="breadcrumbs__list">
                                    <li class="breadcrumbs__item">
                                        <a class="breadcrumbs__link" href="#">Home</a>
                                    </li>
                                    <li class="breadcrumbs__item">My profile</li>                                
                                </ul>
                            </div>
                        </div>
                        <div class="inner-top__right">
                            <div class="inner-top__image" data-bg="{% static 'web/assets/img/svg/banner-profile.jpg' %}"></div>
                        </div>                        
                    </div>
                    <img class="inner-top__bg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="{% static 'web/assets/img/svg/vector-inner-top.svg' %}" alt="">
                </div>
            </div>
            <!-- INNER TOP END -->

            <!-- BEGIN WISHLIST -->
            <div class="profile-page wrapper">

                <div class="profile-page__cols">

                    <!-- BEGIN LEFT COLUMN -->
                    <div class="profile-page__left">

                        <div class="profile-nav tabs-nav js-line">
                            <ul class="profile-nav__list tabs-nav__list tabs-nav__list_left">
                                <li class="tabs-nav__item js-tabs-item js-line-item">
                                    <a class="tabs-nav__link js-line-link js-tabs-link" href="#profile-tab-1">my profile</a>
                                </li>
                                <li class="tabs-nav__item js-line-item js-tabs-item active">
                                    <a class="tabs-nav__link js-line-link js-tabs-link" href="#profile-tab-2">my orders</a>
                                </li>
                            </ul>
                            <div class="tabs-nav__line js-line-element"></div>
                        </div> 
                        
                        <!-- BEGIN TAB 1-->
                        <div class="profile-tab js-tabs-content" id="profile-tab-1">
                            <div> 
                                <span>Your Name :</span><b> {{request.user.first_name}}</b><br>
                                <span>Your Phone :</span><b> {{request.user.account.phone}}</b><br>
                                <span>Your Email :</span><b>{{request.user.email}}</b><br>
                                <span>Your Address :</span><b> {{request.user.account.address}}</b><br>
                            </div> 
                        </div>

                        <!-- TAB 1 END -->
    
                         <!-- BEGIN TAB 2-->
                         <div class="profile-tab js-tabs-content active" id="profile-tab-2">

                            <div class="orders js-faq">

                                <!-- <div class="order js-faq-item">
                                    <div class="order__top">
                                        <a class="order__button js-faq-button" href="javascript:void(0);">
                                            <div class="order-header">
                                                <div class="order-header__col">
                                                    <span class="order-header__number">№116299787</span>
                                                </div>
                                                <div class="order-header__col">
                                                    <span class="order-header__date">Aug 02, 2020</span>
                                                </div>
                                                <div class="order-header__col">
                                                    <div class="order-header__status order-status orange">
                                                        <div class="order-status__cols">
                                                            <div class="order-status__col">Going to you</div>
                                                            <div class="order-status__col">
                                                                <img class="order-status__icon" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="{% static 'web/assets/img/svg/order-icon_1.svg' %}" alt="" style="width:24px; height:19px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div> -->

                                <div class="order js-faq-item">
                                    <div class="order__top">
                                        <a class="order__button js-faq-button" href="javascript:void(0);">
                                            <div class="order-header">
                                                <div class="order-header__col">
                                                    <span class="order-header__number">{{o}}</span>
                                                </div>
                                                <div class="order-header__col">
                                                    <span class="order-header__date">{{order.date_create}}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="order__hide js-faq-hide">
                                        <div class="order__content">
                                            <div class="order__content">
                                                <div class="order-table">
                                                    <article class="order-table__item">
                                                        {% for order in orders %}
                                                            {% if order.complete %}
                                                            <div class="order-table__cols">
                                                                <div class="order-table__col">
                                                                    <a class="order-table__image-link" href="product_page.html">
                                                                        <img class="order-table__image" src="{{order.product.image_min.url}}" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="order-table__col">
                                                                    <h4 class="order-table__title">
                                                                        <a class="order-table__link" href="product_page.html">{{order.product.title}}</a>
                                                                    </h4>
                                                                    <span class="order-table__text" style="margin-left: 200px !important;">{{order.get_total_order_item_count}}</span>
                                                                </div>
                                                                <div class="order-table__col">
                                                                    <span class="order-table__price">{{order.get_total}} UZS</span>
                                                                </div>                                                                                
                                                            </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </article>                                
                                                </div>
                                                <div class="order-total">
                                                    <div class="order-total__item">
                                                        <div class="order-total__col">
                                                            <span class="order-total__title">Total:</span>
                                                        </div>
                                                        <div class="order-total__col">
                                                            <div class="order-total__price">{{order.get_total_order_item_sum}} UZS</div>
                                                        </div>                                                    
                                                    </div>
                                                    <div class="order-total__item">
                                                        <div class="order-total__col">
                                                            <span class="order-total__title">Delivered to:</span>
                                                        </div>
                                                        <div class="order-total__col">
                                                            <div class="order-total__text">{{request.user.account.address}}</div>
                                                        </div>                                                    
                                                    </div>                                                
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </div> 

                            </div>

                            <div class="profile-tab__bottom">
                                <div class="profile-tab__col">
                                    <button class="profile-tab__button button">
                                        <span class="button__text">Delete history</span>
                                    </button>
                                </div>                   
                            </div>                            
    
                        </div>
                         <!-- TAB 2 END -->

                    </div>
                    <!-- LEFT COLUMN END -->

                    <!-- BEGIN RIGHT COLUMN -->

                    <!-- RIGHT COLUMN END -->  

                </div>

            </div>
            <!-- WISHLIST END -->         

        </main>
        <!-- MAIN END -->
        
        <!-- BEGIN FOOTER -->

        <!-- FOOTER END -->     

    </div> 
       
    <script src="{% static 'web/assets/js/libs/jquery-3.5.1.min.js' %}"></script> 
    <script src="{% static 'web/assets/js/libs/jquery-migrate-1.4.1.min.js' %}"></script>   
    <script src="{% static 'web/assets/js/main.js' %}"></script>  


{% endblock content %}